*{
    background-color: #03bb85;
    position: relative;
}

body{
    text-align: center;
}

h1{
    font-size: 130px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: white;
    margin: auto auto;
    contain: content;
    border-radius: 30px;
    border:5px solid rgb(153, 245, 153);
    text-align: center;
    color: #0697C7;
}

h1:hover{
    background-color: #ccf8c1;
}

h2{
    background-color: white;
    height: 200px;
    width: 200px;
}

input#reiniciar{
    font-size: 20px;
    border-radius: 30px;
    background-color: white;
    border: none;
    height: 50px;
    width: 250px;
    margin-top: 20px;
}

